@using Jinget.Blazor.Components.DropDownList
@using Jinget.Core.ExtensionMethods
@using Microsoft.AspNetCore.Components.Forms
@using MudBlazor
@inherits JingetDropDownListTreeBase;

@if (connected)
{
    <select id="@Id"
            data-bind="dir: @(IsRtl?"rtl":"ltr")"
            class="@CssClass"
            disabled="@IsDisabled"
            required="@IsRequired">
        <option value="---" data-parent="" data-level=1>@DefaultText</option>
        @foreach (var item in Items)
        {
            @if (item.ParentValue == null)
            {
                <option value="@item.Value" data-parent="" data-level="@item.Padding">@item.Text</option>
            }
            else
            {
                <option value="@item.Value" data-parent="@item.ParentValue" data-level="@item.Padding">@item.Text</option>
            }
        }
    </select>
    @if (IsRequired && !HasSelectedValue())
    {
        <label style="color:red">@RequiredError</label>
    }
}
@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_initialized)
        {
            //initialize drop down list by calling initJingetDropDownListTree. this functionality is mainly powered by select2.js library.
            await InitComponentAsync("initJingetDropDownListTree");
            await base.OnAfterRenderAsync(firstRender);
        }
        if (Value == null || Value.HasDefaultValue())
        {
            await JS.InvokeVoidAsync("jinget_blazor_dropdownlist_tree_clear", Id);
        }
        else
        {
            await JS.InvokeVoidAsync("jinget_blazor_dropdownlist_tree_selectItem", Id, Value);
        }
    }
}