@using Jinget.Blazor.Components.DropDownList
@using Jinget.Blazor.Components.Input
@using Jinget.Core.ExtensionMethods
@typeparam T
@inherits JingetTableBase<T>

<div class="table-responsive @_parentDivCssClass">
    <table id="@Id" class="@CssClass table table-hover table-bordered text-center @_tableCssClass">
        <thead class="table-light">
            @if (ShowSearchBar)
            {
                <tr>
                    <td colspan="@_totalColumns">
                        <JingetInput Id="@(Id+"-inpsearch")"
                                     InputType="Enums.InputType.Text"
                                     Value="@currentSearchTerm"
                                     PlaceHolder="@SearchPlaceHolderText"
                                     OnChange="@((e)=>SearchAsync(e==null?"":e?.Value.ToString()))"
                                     IsRtl="@IsRtl">
                        </JingetInput>
                        @if (SearchBarContent != null)
                        {
                            @SearchBarContent
                        }
                    </td>
                </tr>
            }
            @if (ShowBadgeBar)
            {
                <tr>
                    <th colspan="@_totalColumns" class="jinget-badge">
                        @if (HasSearchTerm())
                        {
                            <span class="badge rounded-pill bg-secondary">
                                @GetSearchBadgeText()
                                <i class="fa fa-times" onclick="@(()=>ClearSearchAsync())" aria-hidden="true"></i>
                            </span>
                        }
                        @if (HasSort())
                        {
                            <span class="badge rounded-pill bg-secondary">
                                @GetSortBadgeText()
                                <i class="fa fa-times" onclick="@(()=>ClearSortAsync())" aria-hidden="true"></i>
                            </span>
                        }
                        @if (HasSelectedRow())
                        {
                            <span class="badge rounded-pill bg-secondary" data-bs-toggle="collapse" data-bs-target="#selected-row-accordion-row" aria-expanded="true" aria-controls="selected-row-accordion-row">
                                @SelectedRowBadgeTextFormat
                                <i class="fa fa-times" onclick="@(()=>ClearSelectedRowAsync())" aria-hidden="true"></i>
                            </span>
                            <div class="accordion" id="selected-row-accordion">
                                <div class="accordion-item">
                                    <div id="selected-row-accordion-row" class="accordion-collapse collapse show" data-bs-parent="#selected-row-accordion">
                                        <div class="accordion-body">
                                            <JingetTable Model="@GetSelectedRowModel()"
                                                         Id="@(Id+"selected-row")"
                                                         CssClass="table-sm table-success table-striped selected-row"
                                                         ShowBadgeBar="false"
                                                         ShowPagination="false"
                                                         ShowSearchBar="false"
                                                         RowIsSelectable="false"
                                                         Sortable="false"></JingetTable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </th>
                </tr>
            }
            <tr>
                @if (PreActionContent != null)
                {
                    <th scope="col" class="jinget-action-content">@PreActionContentHeaderText</th>
                }
                @foreach (var item in _columns)
                {
                    @if (Sortable)
                    {
                        <th scope="col" class="@item.CssClass"
                            onclick="@(()=>SortAsync(item.Sortable, item.Name))">
                            @item.DisplayText
                            @if (item.Sortable)
                            {
                                <i class="fa fa-@GetSortIcon(item.Name)" aria-hidden="true"></i>
                            }
                        </th>
                    }
                    else
                    {
                        <th scope="col">
                            @item.DisplayText
                        </th>
                    }
                }
                @if (PostActionContent != null)
                {
                    <th scope="col" class="jinget-action-content">@PostActionContentHeaderText</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (HasData())
            {
                @foreach (T row in Model.Items)
                {
                    <tr class="@GetDataRowCssClass(row)" onclick="@(()=>SelectRowAsync(row))">
                        @if (PreActionContent != null)
                        {
                            <td scope="row" class="align-middle jinget-action-content">@PreActionContent(row)</td>
                        }
                        @foreach (var cell in _columns)
                        {
                            <td scope="row" class="align-middle">@row.GetValue(cell.Name)</td>
                        }
                        @if (PostActionContent != null)
                        {
                            <td scope="row" class="align-middle jinget-action-content">@PostActionContent(row)</td>
                        }
                    </tr>
                }
            }
            else
            {
                @if (NoRecordContent != null)
                {
                    <tr>
                        <td colspan="@_totalColumns">
                            @NoRecordContent
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            @if (_showFooter)
            {
                <tr>
                    <td colspan="@_totalColumns" class="align-middle">
                        <div class="align-items-center form-group row">
                            <JingetDropDownList @ref=@ddlPagination
                                                Id="@(Id+"ddlPagination")"
                                                DisplayName="@RowsPerPageText"
                                                LabelCssClass="jinget-smaller-font col-auto"
                                                IsRtl="@IsRtl"
                                                ParentElementId="@Id"
                                                CssClass="jinget-smaller-font"
                                                Value="selectedPageSizeOption"
                                                DataProviderFunc=@GetPaginationPageSizeOptionsAsync
                                                OnChange=@((e)=>PageSizeChangedAsync(e))></JingetDropDownList>
                            <button type="button" disabled="@_hasPrevButtons" onclick="@(()=>GotoPageAsync(1))" class="pager-static pager-btn col-auto btn btn-light">@FirstPageText</button>
                            <button type="button" disabled="@_hasPrevButtons" onclick="@(()=>GotoPageAsync(currentPageIndex-1))" class="pager-static pager-btn col-auto btn btn-light">@PrevPageText</button>

                            @foreach (var index in GetPageIndexes())
                            {
                                if (index == -1)
                                {
                                    <button type="button" disabled class="pager-btn col-auto btn btn-light">...</button>
                                }
                                else
                                {
                                    <button type="button" disabled="@IsCurrentPage(index)" onclick="@(()=>GotoPageAsync(index))" class="pager-btn col-auto btn btn-light">@index</button>
                                }
                            }

                            <button type="button" disabled="@_hasNextButtons" onclick="@(()=>GotoPageAsync(currentPageIndex+1))" class="pager-static pager-btn col-auto btn btn-light">@NextPageText</button>
                            <button type="button" disabled="@_hasNextButtons" onclick="@(()=>GotoPageAsync(lastPageIndex))" class="pager-static pager-btn col-auto btn btn-light">@LastPageText</button>

                            <span class="pager-btn col-auto btn btn-light" style="cursor:auto">
                                @PageInfoTextFormat
                            </span>
                        </div>
                    </td>
                </tr>
            }
        </tfoot>
    </table>
</div>