@using Jinget.Blazor.Components.DropDownList
@using Jinget.Blazor.Components.Input
@using Jinget.Core.ExtensionMethods
@using Jinget.Core.ExtensionMethods.Enums
@typeparam T
@inherits JingetTableBase<T>

<div class="table-responsive @(IsRtl?"rtl":"ltr")">
    <table id="@Id" class="@CssClass table table-hover table-bordered text-center @(IsRtl?"jinget-farsi-font":"jinget-default-font")">
        <thead class="table-light">
            @if (ShowSearchBar)
            {
                <tr>
                    <td colspan="@TotalColumns">
                        <JingetInput Id="@(Id+"-inpsearch")"
                                     InputType="Enums.InputType.Text"
                                     Value="@currentSearchTerm"
                                     PlaceHolder="@SearchPlaceHolderText"
                                     OnChange="@((e)=>SearchAsync(e==null?"":e?.Value.ToString()))"
                                     IsRtl="@IsRtl">
                        </JingetInput>
                        @if (SearchBarContent != null)
                        {
                            @SearchBarContent
                        }
                    </td>
                </tr>
            }
            @if (ShowBadgeBar)
            {
                <tr>
                    <th colspan="@TotalColumns" class="jinget-badge">
                        @if (HasSearchTerm())
                        {
                            <span class="badge rounded-pill bg-secondary">
                                @GetSearchBadgeText()
                                <i class="fa fa-times" onclick="@(()=>ClearSearchAsync())" aria-hidden="true"></i>
                            </span>
                        }
                        @if (HasOrderBy())
                        {
                            <span class="badge rounded-pill bg-secondary">
                                @GetSortBadgeText()
                                <i class="fa fa-times" onclick="@(()=>ClearSortAsync())" aria-hidden="true"></i>
                            </span>
                        }
                        @if (HasSelectedRow())
                        {
                            <span class="badge rounded-pill bg-secondary" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                @SelectedRowBadgeTextFormat
                                <i class="fa fa-times" onclick="@(()=>ClearSelectedRowAsync())" aria-hidden="true"></i>
                            </span>
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <JingetTable Model="@(new JingetTableModel<T>{Items = [selectedRow],TotalItems=1})"
                                                         Id="@(Id+"selected-row")"
                                                         CssClass="table-sm table-success table-striped selected-row"
                                                         ShowBadgeBar="false"
                                                         ShowPagination="false"
                                                         ShowSearchBar="false"
                                                         RowSelectable="false"
                                                         Sortable="false"></JingetTable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </th>
                </tr>
            }
            <tr>
                @if (PreActionContent != null)
                {
                    <th scope="col" class="jinget-action-content">@PreActionContentHeaderText</th>
                }
                @foreach (var item in columns)
                {
                    @if (Sortable)
                    {
                        <th class="@(item.Sortable?"sortable":"")"
                            onclick="@(()=>SortAsync(item.Sortable, item.Name))" scope="col">
                            @item.DisplayText
                            @if (item.Sortable)
                            {
                                <i class="fa fa-@GetSortIcon()" aria-hidden="true"></i>
                            }
                        </th>
                    }
                    else
                    {
                        <th scope="col">
                            @item.DisplayText
                        </th>
                    }
                }
                @if (PostActionContent != null)
                {
                    <th scope="col" class="jinget-action-content">@PostActionContentHeaderText</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (HasData())
            {
                @foreach (T row in Model.Items)
                {
                    var type = row?.GetType();
                    var cssClass = selectedRow != null && row != null && selectedRow.HasSameValuesAs(row) ? "table-info" : "";
                    <tr class="@cssClass" onclick="@(()=>SelectRowAsync(row))">
                        @if (PreActionContent != null)
                        {
                            <td scope="row" class="align-middle jinget-action-content">@PreActionContent(row)</td>
                        }
                        @foreach (var cell in columns)
                        {
                            <td scope="row" class="align-middle">@row.GetValue(cell.Name)</td>
                        }
                        @if (PostActionContent != null)
                        {
                            <td scope="row" class="align-middle jinget-action-content">@PostActionContent(row)</td>
                        }
                    </tr>
                }
            }
            else
            {
                @if (NoRecordContent != null)
                {
                    <tr>
                        <td colspan="@TotalColumns">
                            @NoRecordContent
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>

            @if (ShowPagination && GetPageIndexes().Any())
            {
                <tr>
                    <td colspan="@TotalColumns" class="align-middle">
                        <div class="align-items-center form-group row">

                            <JingetDropDownList @ref=@ddlPagination
                                                Id="@(Id+"ddlPagination")"
                                                DisplayName="@RowsPerPageString"
                                                LabelCssClass="jinget-smaller-font col-auto"
                                                CssClass="jinget-smaller-font"
                                                Value="selectedPageSizeOption"
                                                DataProviderFunc=@GetPaginationPageSizeOptionsAsync
                                                OnChange=@((e)=>PageSizeChangedAsync(e))></JingetDropDownList>

                            <button type="button" disabled="@(currentPageIndex <= 1?true:false)" onclick="@(()=>GotoPageAsync(1))" class="pager-btn col-auto btn btn-light">@FirstPageText</button>
                            <button type="button" disabled="@(currentPageIndex <= 1?true:false)" onclick="@(()=>GotoPageAsync(currentPageIndex-1))" class="pager-btn col-auto btn btn-light">@PrevPageText</button>

                            @foreach (var item in GetPageIndexes())
                            {
                                if (item == -1)
                                {
                                    <button type="button" disabled class="pager-btn col-auto btn btn-light">...</button>
                                }
                                else
                                {
                                    <button type="button" disabled="@(currentPageIndex==item?true:false)" onclick="@(()=>GotoPageAsync(item))"
                                            class="pager-btn col-auto btn btn-light">
                                        @item
                                    </button>
                                }
                            }

                            <button type="button" disabled="@(currentPageIndex >= lastPageIndex?true:false)" onclick="@(()=>GotoPageAsync(currentPageIndex+1))" class="pager-btn col-auto btn btn-light">@NextPageText</button>
                            <button type="button" disabled="@(currentPageIndex >= lastPageIndex?true:false)" onclick="@(()=>GotoPageAsync(lastPageIndex))" class="pager-btn col-auto btn btn-light">@LastPageText</button>

                            <span class="pager-btn col-auto btn btn-light" style="cursor:auto">
                                @InfoFormat
                            </span>

                        </div>
                    </td>
                </tr>
            }
        </tfoot>
    </table>
</div>